body {
	background-image: url("../img/game-themes/contra/back.gif");
	background-color: #000;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 1em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

div, span, p {
	box-sizing: border-box;
	margin-top: 0;
	line-height: 1.5em;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:hover {
	border: .075em solid #fff;
	text-decoration: none;
	padding: .35em .5em .35em .5em;
	margin-left: -.75em;
	cursor: pointer;
}

a:visited {
	color: #fff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

table, thead, tfoot, tr, td {
	border: .075em solid rgba(50, 50, 50, .5);
	padding: .5em;
	width: 100%;
}

td {
	width: 25%;
}

.fixed-back {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.jaggies {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.blur {
	background-color: rgba(0, 0, 0, .93);
	background-image: url("../img/game-themes/contra/blur-dark.jpg");
	opacity: .97;
}

.active {
	display: block;
}

#wrapper {
	max-width: 64em;
	width: 100%;
	/*height: 96em;*/
	position: relative;
	margin: auto;
	padding-top: 1em;
	background-color: rgba(0, 0, 0, .95);
	box-shadow: 0 0 1.5em rgba(0, 0, 0, 1);
}

#content {
	width: 100%;
	padding-bottom: 8em;
}

.logo {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	background-color: #fff;
	margin: auto;
	margin-bottom: 24em;
	position: relative;
}

#page-header nav {
	width: 100%;
	max-width: 64em;
	position: fixed;
	margin: auto;
	top: 0;
	border-bottom: .075em solid rgba(50, 50, 50, .5);
	z-index: 1;
}

#page-header nav > ul > li {
	display: inline-block;
}

img.console-icon {
	width: 3.125em;
	height: 3.125em;
	padding: 1em;
	margin: 1em 1em 0em 1em;
	border-radius: 50%;
	border: .075em solid rgba(50, 50, 50, 0);
}

img.console-icon:hover {
	background-color: rgba(255, 255, 255, .09);
	cursor: pointer;
	background-image: url("../img/game-themes/contra/blur.jpg");
	background-color: #000;
	border: .075em solid rgba(50, 50, 50, .5);
}

#drop-menu {
	width: 32em;
	position: fixed;
	top: 7.5em;
	margin-left: 50%;
	left: -16em;
	border-radius: .25em;
	overflow: hidden;
	box-shadow: 0 0 .75em rgba(0, 0, 0, .75);
	display: none;
}

img.section-icon {
	width: 2em;
	height: 2em;
	display: block;
	margin: auto;
	margin-bottom: .25em;
}

#drop-menu table thead {
	background-color: #fff;
	color: #000;
}

thead > tr > td {
	text-transform: uppercase;
	font-weight: 700;
}

tbody > tr > td:hover {
	background: rgba(50, 50, 50, .75);
	color: #fff;
	cursor: pointer;
}

tbody > tr > td:hover a {
	border: none;
	padding: 0;
	margin: 0;
}

img.random-sprite {
	position: relative;
	display: block;
	margin: 25% auto 1em auto;
}

.love {
	position: relative;
	display: block;
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .5em;
	margin-bottom: 3em;
}

img.heart {
	margin-left: -.35em;
}

input#search{
	background-color: rgba(0, 0, 0, .5);
	position: relative;
	margin: auto;
	width: 20em;
	height: 3em;
	border: none;
	padding-left: 1.75em;
	border-radius: .25em;
	border: .075em solid rgba(50, 50, 50, .5);
	box-sizing: border-box;
	-webkit-appearance: none;
}

input#search:hover, input#search:focus, input#search:active {
	outline:none;
	border: .075em solid #fff;
}

#search-box {
	max-width: 20em;
	margin: auto;
	margin-bottom: 4em;
}

#results ul li {
	text-align: left;
	border-bottom: .075em solid rgba(50, 50, 50, .5);
	max-height: 3em;
	vertical-align: top;
	/*display: none;*/
}

#results ul li:hover {
	background: rgba(50, 50, 50, .75);
	cursor: pointer;
}

.result-meta {
	text-align: left;
	display: inline-block;
	padding-left: .5em;
}

h2.result-title, .result-meta p{
	font-size: .75em;
	line-height: .35em;
}

h2.result-title {
	font-size: 1em;
	font-weight: 700;
}

#game-matrix {
	display: relative;
	text-align: center;
	/*flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start !important;*/
}

img.box-art {
	max-width: 10em;
	height: auto;
	border-radius: .25em;
	vertical-align: top;
	margin-bottom: .5em;
}

img.box-thumb {
	border-radius: 0;
	vertical-align: top;
}

article.game-entry {
	height: auto;
	display: inline-block;
	margin: 1.5em;
	position: relative;
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	transition: all 0.1s ease;
}

article.game-entry:hover {
	background: rgba(50, 50, 50, .75);
	padding: 1em;
	margin: 0em .5em .5em .5em;
	border-radius: .25em;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
}

article.game-entry.active {
	background-color: rgba(0, 0, 0, .95);
	padding: 1em;
	margin: 0;
	border-radius: .25em;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: inherit;
	z-index: 1;
}

h2.title {
	font-size: 1em;
	font-weight: 700;
	display: relative;
}

article.game-entry .meta{
	display: block;
	width: 10em;
	position: static;
	left: 0;
	right: 0;
}

article.game-entry.active .meta{
	text-align: left;
}

article.game-entry .title {
	width: inherit;
	margin: 0;
	padding: 0;
}

.year, .publisher {
	font-size: .75em;
}

.publisher {
	margin-top: -1em;
}

footer {
	max-width: 64em;
	width: 100%;
	height: 4em;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.copyright {
	font-size: .5em;
}

@media screen and (max-width: 24em) {
	img.console-icon {
		width: 2.250em;
		height: 2.250em;
		padding: .75em;
		margin: .5em .5em 0em .5em;
	}

	h2.title {
		font-size: .75em;
		line-height: 1.25em;
	}

	.year, .publisher {
		font-size: .5em;
	}

	img.box-art {
		max-width: 6em;
	}

	article.game-entry .meta{
		width: 6em;
	}
}
